{% extends "bootstrap/base.html" %}

{% block styles %}
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" >
    <link href="{{url_for('static', filename='images/favicon.ico')}}" rel="icon" >
    <link href="{{url_for('static', filename="css/jquery.dataTables.min.css")}}" rel="stylesheet">
{% endblock %}

{% block title %} 服务列表 {% endblock %}

{% block content %}
    <div class="main">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                >&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <h1 class="text-center">Upstream 控制台</h1>
    <div>
        <table id="upsync" class="table table-striped">
            <thead>
                <tr>
                    <th>项目</th>
                    <th>主机</th>
                </tr>
            </thead>
            <tbody>
                {% for service, server in service_list.iteritems() %}
                    <tr>
                        <td>{{ service.split("/")[-1] }}</td>
                        <td>{{ server }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script charset="utf8" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
    <script charset="utf8" src="{{url_for('static',filename='js/dataTables.bootstrap.min.js')}}"></script>
    <script>
        jQuery(function($) {
            $('#upsync').DataTable();
        });

        $.extend(true, $.fn.dataTable.defaults, {
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "oLanguage": {
                "sEmptyTable": "无数据",
                "sProcessing": "正在获取数据，请稍后...",
                "oPaginate.sFirst": "第一页",
                "oPaginate.sLast": "最后一页",
                "oPaginate.sNext": "下一页",
                "oPaginate.sNext": "上一页",
                "sInfo": "本页 _START_ - _END_ , 共 _TOTAL_ 条记录",
                "sInfoEmpty": "本页 0 - 0 , 共 0 条记录",
                "sSearch": "快速过滤: ",
                "sLengthMenu": "每页_MENU_记录"
            }
        });
    </script>
{% endblock %}